#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 4rem;
  max-width: 768px;
}

.hero h3 {
  color: oklch(80% 0.01 265);
  margin-bottom: 0.75rem;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  svg path {
    fill: white !important;
  }

  img {
    filter: invert(1);
  }
}
