.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    margin: 0;
  }
}

.project-card {
  display: flex;

  a {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
    border-top: transparent 1px solid;

    &:hover {
      border-top: 1px solid oklch(70% 0.01 265 / 0.2);
      background-color: oklch(70% 0.01 265 / 0.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    width: 200px;
    height: auto;
    object-fit: contain;
    align-self: flex-start;

    border: 2px solid oklch(70% 0.01 265 / 0.2);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 2px solid oklch(70% 0.01 265 / 0.4);
    }
  }
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .tech-used {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;

    span {
      padding: 0.25rem 0.75rem;
      border-radius: 999px;
      font-size: 0.875rem;
      background-color: oklch(35.832% 0.11711 263.605 / 0.692);
    }
  }
}

@media (max-width: 600px) {
  .project-card {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    a {
      flex-direction: column;
    }
  }
}
