ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;

    /* background-color: rgb(48, 46, 46); */
    background-color: oklch(0.4 0.1 265/ 0.4);

    span {
      /* font-size: 1.25rem; */
      font-weight: 600;
    }
  }
}
