*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select,
dialog {
  font: inherit;
}

/* =========== reset ends here ============ */

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: oklch(92% 0.01 265);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
}

p {
  text-wrap: pretty;
  max-width: 65ch;
  color: oklch(80% 0.01 265);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
